*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Raleway', sans-serif;
}

.center{
    display:flex;
    max-width: 1100px;
    padding: 0 2%;
    margin:0 auto;
    flex-wrap:wrap;
}

section.main{
    background-image: url('images/bg.svg');
    background-position: center;
    background-size: cover;
    min-height: 700px;
    padding:20px 0 80px 0;
}

.menu{display:flex; width:100%;}

.logo-menu{width:50%;}

.items-menu{width:50%;}

.items-menu a{
    font-weight: bold;
    color:white;
    text-decoration: none;
    display:inline-block;
    margin:0 10px;
} 

.items-menu a:hover{
    border-bottom:2px solid #FFDD33;
}
.items-menu a.contact-btn{
    background-color:#0F3FD3;
    padding:10px;
    border-radius: 10px 10px;
}

.items-menu a.contact-btn:hover{
    border:0px;
}

.mockup{display:block;width:100%;color:white;text-align:center;padding-top:100px;}

.mockup h1{font-size:40px;}

.mockup img{max-width:100%;}

section.marcas img{
    width: calc(100% / 5);
}

section.marcas {
 padding: 60px 0;   
}

section.porque-nos{
    padding:40px 0;
    background-color:#FBFCFE;
}

section.porque-nos > .center{
    max-width:1280px;
}

section.porque-nos > .center > h2{
    font-size:64px;
    text-align: center;
    width:100%;
}

section.porque-nos > .center > p{
    font-size:16px;
    color:#ccc;
    text-align: center;
    width:100%;
}

.diferenciais{display:flex; margin-top:50px;}

.box-diferenciais{
    box-shadow: 0px 20px 40px #2426721C;
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
    padding: 10px 20px ;
    border-radius: 10px 10px;
}

.box-diferenciais h3{
    font-size:20px;
    color: black;
    margin: 20px 0;
}

.box-diferenciais p{
    font-size: 13px;
    color: #7E92AC;
    margin-bottom:2px;
}

section.cta h2,section.cta h4{
    font-weight: normal;
    margin:10px 0;
}

section.cta h2{font-size: 45px;}
section.cta{
    background-image: url('images/BANNER.png');
    background-size:cover;
    background-position:center;
    padding: 20px 10px;
    min-height:200px;
    text-align:center;
    color:white;
}

section.cta a{
    display:inline-block;
    padding:8px 15px;
    font-weight: bold;
    font-size:17px;
    background: #FFDD33;
    text-decoration:none;
    color:#0F3FD3;
    border-radius:5px;
}

section.beneficios{
    padding:50px 0;
}
.lista-beneficios{
    margin-top:50px;
    width:40%;
}

.lista-beneficios h1{color:black; font-size:40px;}

.lista-beneficios p{
   
    vertical-align: middle;
    font-size:14px;
    color: #7E92AC;
}

.lista-beneficios span{
    display:inline-block;
    width:calc(100% - 70px);
}
.lista-beneficios img{
    display: inline-block;
    vertical-align: middle;
    width:70px;
}

.img-beneficios{
    width:60%;
}

.img-beneficios img{max-width:100%;}

.lista-beneficios a{
    background: #255AFF;
    padding: 10px 30px;
    border-radius:5px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    margin-left: 20px;
}

section.depoimentos{
    background-color:#FBFCFE;
    padding:40px 0;
    text-align:center;
}

section.depoimentos h1{
    text-align:center;
    font-size:50px;
}

.container-slider{overflow:hidden; padding:40px 0;}

.container-slider-single{
    float:left;
    background-color:rgb(255, 255, 255);
    padding:20px;
    border-radius:10px;
    height: 100%;
    max-height: 400px;
}

.container-slider-single p{
    color:#7E92AC;
    margin:15px 0;
    font-size:14px;
}
.slick-slide{margin-left:27px;}

/* the parent */
.slick-list {
    margin-left:-27px;
   
  }

  /****SLICK SLIDER****/

.slick-dotted ul{
	list-style-type: none;
	text-align: center;
	position: relative;
	top:30px;
}

.slick-dotted li{
	display: inline-block;
	margin: 0 7px;
}

.slick-dotted button:focus{
	outline: 0;
}

.slick-dotted li button{
	width: 16px;
	height: 16px;
	border-radius: 8px;
	color: #d8d8d8;
	border-width: 0;
	background: #d8d8d8;
	opacity: 1;
	cursor: pointer;
}

li.slick-active button{
	background: #383838;
	color: #383838;
}

.slick-slide:focus { outline: none; }

/*fim slick-slider*/

section.contato form{
    width:100%;
}

section.contato{
    padding:40px 0;
    text-align:center;
}

section.contato h1{
    font-size:40px;
}

.contato input[type="text"],
.contato input[type="email"]{
    width:100%;
    height:50px;
    margin:20px 0;
    border-radius:10px;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    padding-left:10px;
    color: #7E92AC;
    font-weight:bold;
}

.contato textarea{
    width:100%;
    height:120px;
    margin:20px 0;
    border-radius:10px;
    background: #FCFDFF;
    border: 1px solid #C3CCE8;
    padding:10px;
    color: #7E92AC;
    font-weight:bold;
    resize:vertical;
}

.contato input[type="submit"]{
    background-color: #255AFF;
    color: #FFFFFF;
    border-radius:10px;
    padding:10px;
    width:100%;
    height:50px;
    margin:20px 0;
    border: 0;
    cursor:pointer;
    font-weight:bold;
}

footer{
    padding:10px 0;
    background: #255AFF;
    color:white;
}

.text-footer{
    width:50%;
    padding:8px 0;
}

.items-menu-mobile{
    display:none;
    width:50%;
    text-align:right;
}

.items-menu-mobile i{
    cursor:pointer;
    color:white;
    position: relative;
    font-size:23px;
    top:14px;
}
@media screen and (max-width:768px) {

    section.main .items-menu{
        display:none;
    }

    .menu-mobile{
        
        transition:1s;
        opacity:0;
        position:absolute;
        background-color: #255bffca;
        left:0;
        top:65px;
        width:100%;
        padding:20px 0;
        text-align:center;
    }

    .show{
        opacity:1;
        
    }
    .hide{
        opacity: 0;
    }
    .menu-mobile a{
        text-align: center;
        display: block;
        margin:10px 0;
        color:white;
        text-decoration:none;
        font-weight: bold;
    }

    .items-menu-mobile{
        display:block;
    }
    footer .items-menu{
        width:100%;
        text-align:center;
    }

    footer .items-menu a{
        display:block;
        margin:10px 0;
        text-align:center;
    }
    .text-footer{
        width:100%;
        text-align:center;
        padding:8px 0;
    }

    .lista-beneficios,.img-beneficios{
        width:100%;
        margin-bottom:30px;
    }

    .diferenciais{
       
        flex-wrap: wrap;
   
        }
    .box-diferenciais{
        box-shadow: 0px 20px 40px #2426721C;
        width:100%;
        margin-right: 0;
        margin-left: 0;
        
    }
section.marcas > .center{
    flex-wrap:nowrap;
    flex-direction:column;
    align-items: center;
     }
section.marcas img{
        max-width:300px;
        width: 100%;
}
        
section.porque-nos > .center > h2{
            font-size:40px;
            text-align: center;
            width:100%;
        }
    
 .lista-beneficios h1{color:black; font-size:30px;}
}


